In [27]:
from llama_index.readers.string_iterable import StringIterableReader
from dotenv import load_dotenv
import pandas
from llama_index.core import TreeIndex
load_dotenv()

True

In [14]:
data=[{'Name': 'adCAPTCHA', 'Description': 'Revolutionary solution blocking bot attacks via media, ensuring genuine engagement. Offers unique challenges, easy media sync, charges only for real interactions, and guarantees privacy without cookies or tracking. A new era of secure, authentic engagement.'},
      {'Name': 'Blinky Bat', 'Description': 'Blinky Bat elevates gameplay by transforming your blinks into controls. Inspired by Flappy Bird, it challenges you to navigate a bat through obstacles using timed blinks. Experience this innovative, blink-controlled journey through a maze of challenges.'},
      {'Name': 'Complete Website package for SMEs ', 'Description': 'Complete Business Website with lot of top features at most affordable price. Complete website design FREE domain name, hosting included AI chatbot company intro video Revisions Priority support'}]

In [15]:
df=pandas.DataFrame(data)

In [16]:
df

,Name,Description
0,adCAPTCHA,Revolutionary solution blocking bot attacks vi...
1,Blinky Bat,Blinky Bat elevates gameplay by transforming y...
2,Complete Website package for SMEs,Complete Business Website with lot of top feat...

        Name                                        Description
0  adCAPTCHA  Revolutionary solution blocking bot attacks vi...

In [28]:
f=[]
for i in range(len(df)):
    print()

    documents = StringIterableReader().load_data(
    texts=["The product is called '" + df.iloc[i][0]+"'."+df.iloc[i][1]]
    )
    index = TreeIndex.from_documents(documents)
    query_engine = index.as_query_engine()
    a=query_engine.query("Is this a Business to Business product or a B2B? answer as 'Yes' or 'No'")
    f.append(a.response)
df['B2B']=f
df

/var/folders/nf/k091r8hx2737drcpbtd8tc_80000gn/T/ipykernel_60871/3333002031.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  texts=["The product is called '" + df.iloc[i][0]+"'."+df.iloc[i][1]]

,Name,Description,B2B
0,adCAPTCHA,Revolutionary solution blocking bot attacks vi...,Yes
1,Blinky Bat,Blinky Bat elevates gameplay by transforming y...,No
2,Complete Website package for SMEs,Complete Business Website with lot of top feat...,No